*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --mainTextDayColor: #030712;
    --secondTextDayColor: rgb(75, 85, 99);
    --mainTextNightColor: #f1f5f9;
    --secondTextNightColor: #a1a1aa;
    --dayBorderColor:
        --mainFont:;
    --secondFont: ;
    --overLayColor: linear-gradient(to bottom, #fde68a 0%, #f7a15b 100%);
    --transformIcons: translateX(-110%) translateY(200%);
    /* --bgNightColor: linear-gradient(to bottom, #94a3b8 0%, #475569 100%);  */
}

html {
    height: 100vh;
}
body {
    position: relative;
    display: grid;
    height: 100vh;
    grid-template-rows: 5% 95%;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#header {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: max-content;
    justify-content: space-between;
    align-content: center;
    /* gap: 5px; */
}

#left {
    display: grid;
    grid-template-columns: 40% 10% 50%;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}

#right h2 {
    color: var(--mainTextDayColor);
    font-size: 3vw;
}

#right p {
    color: var(--secondTextDayColor);
}

#icon-temp {
    display: flex;
    gap: 5px;
}

#icon-temp img {
    width: 12vw;

}

#icon-temp #temperature {
    font-size: 12vw;
}

#units {
    display: flex;
    align-self: start;
    /* justify-self: center; */
    font-size: 2vw;
}

#units span {
    padding: 5px;
}

#units .celsius {
    border-right: 2px solid black;
}

.miniTemp span::before {
    content: '°'
}

#mainDetails {
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    color: var(--secondTextDayColor);
    padding-left: 10px;
}

#mainDetails p{
    display: flex;
    gap: 3px;
}

#daysForecast {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    background: rgba(75, 85, 99, 0.3);
    opacity: 0.7;
    border-style: none;
    border-radius: 12px;
    margin: 10px;
    padding: 5px;

    display: grid;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    cursor: pointer;
}

.day:hover {
    opacity: 1;
}

.date,
.mini-prep,
.mini-wind,
.mini-humid,
.mini-description {
    display: none;
}

#overlay1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--overLayColor);
    z-index: -2;
    transition: background 2s;
}

#morning,
#night,
#afternoon {
    position: absolute;
    width: 300px;
    bottom: 0;
    left: 0;
    transform: translateX(-110%) translateY(50%);
    transition: transform 2s ease-in-out;
    opacity: 0.5;
}